@import '../src/configurators.scss';
.flex{
  display:flex;
}

.flex-row{
  display:flex;
  flex-direction: row;
}
.flex-row-reverse{
  display:flex;
  flex-direction: row-reverse;
}

.flex-column{
  display:flex;
  flex-direction: column;
}
.flex-column-reverse{
  display:flex;
  flex-direction: column-reverse;
}

.flex-wrap{
  display: flex;
  flex-flow: wrap;
}

.flex-wrap-reverse{
  display: flex;
  flex-flow: wrap-reverse;
}


/*Justify Content*/
.flex-left{
  display: flex;
  justify-content: flex-start;
}
.flex-right{
  display: flex;
  justify-content: flex-end;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.flex-spacearound{
  display: flex;
  justify-content: space-around;
}
.flex-spacebetween{
  display: flex;
  justify-content: space-between;
}
.flex-spaceevenly{
  display: flex;
  justify-content: space-evenly;
}

/*Align Items*/

.flex-top{
  display: flex;
  align-items: flex-start;
}
.flex-bottom{
  display: flex;
  align-items: flex-end;
}
.flex-middle{
  display: flex;
  align-items: center;
}
.flex-stretch{
  display: flex;
  align-items: stretch;
}
.flex-baseline{
  display: flex;
  align-items: baseline;
}

//GRID SYSTEM






.grid-autofit{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-autofill-sm{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  //grid-auto-columns: minmax(260px, 1fr);
}

.gap-xs{
  grid-column-gap: var(--space-xs);
  grid-row-gap: var(--space-xs);
}
.grid-autofill{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

}

.gap-sm{
  grid-column-gap: var(--space-sm);
  grid-row-gap: var(--space-sm);
}
.gap-md{
  grid-column-gap: var(--space-md);
  grid-row-gap: var(--space-md);
}
.gap-lg{
  grid-column-gap: var(--space-lg);
  grid-row-gap: var(--space-lg);
}

.gap-xl{
  grid-column-gap: var(--space-xl);
  grid-row-gap: var(--space-xl);
}





.grid-center{
  display:grid;
  grid-auto-flow: column;
  justify-content: center;	
}



.grid-top{
  display:grid;
  align-items: start;	
}
.grid-bottom{
  display:grid;
  align-items: end;	
}

.grid-middle{
  display:grid;
  align-items: center;	
}

.grid-start{
  display:grid;
  grid-auto-flow: column;
  justify-content: start;	
}

.grid-end{
  display:grid;
  grid-auto-flow: column; 
  justify-content: end;	
}



.grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.grid-column{
  display:grid;
  grid-template-column: 1fr;
}




//Space utilities



.p0  { padding: 0 !important }

.p1  { padding: $space-xs !important; }
.py1 { padding-top:    $space-xs ; padding-bottom:  $space-xs ; }
.px1 { padding-left:   $space-xs !important; padding-right:   $space-xs !important; }

.p2  { padding:        $space-sm  }
.py2 { padding-top:   $space-sm; padding-bottom: $space-sm; }
.px2 { padding-left:   $space-sm; padding-right:  $space-sm; }

.p3  { padding:        $space-md }
.py3 { padding-top:    $space-md ; padding-bottom:  $space-md ; }
.px3 { padding-left:   $space-md ; padding-right:   $space-md ; }

.p4  { padding:        $space-lg;}
.py4 { padding-top:    $space-lg ; padding-bottom: $space-lg ; }
.px4 { padding-left:   $space-lg !important; padding-right:   $space-lg ; }

.p5  { padding:        $space-xl;}
.py5 { padding-top:    $space-xl !important; padding-bottom: $space-xl !important; }
.px5 { padding-left:   $space-xl; padding-right:   $space-xl ; }

.m0  { margin:        0 !important}
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.m1  { margin:        $space-xs  }
.mt1 { margin-top:    $space-xs  }
.mr1 { margin-right:  $space-xs  }
.mb1 { margin-bottom: $space-xs  }
.ml1 { margin-left:   $space-xs   }

.m2  { margin:        $space-sm  }
.mt2 { margin-top:    $space-sm }
.mr2 { margin-right:  $space-sm }
.mb2 { margin-bottom: $space-sm }
.ml2 { margin-left:   $space-sm }

.m3  { margin:        $space-md }
.mt3 { margin-top:    $space-md }
.mr3 { margin-right:  $space-md }
.mb3 { margin-bottom: $space-md }
.ml3 { margin-left:   $space-md }

.m4  { margin:        $space-lg }
.mt4 { margin-top:   $space-lg }
.mr4 { margin-right:  $space-lg }
.mb4 { margin-bottom: $space-lg }
.ml4 { margin-left:   $space-lg }

.m5  { margin:        $space-xl }
.mt5 { margin-top:    $space-xl }
.mr5 { margin-right:   $space-xl }
.mb5 { margin-bottom:  $space-xl }
.ml5 { margin-left:   $space-xl }

.mx1 { margin-left:$space-xs; margin-right: $space-xs; }
.mx2 { margin-left: $space-sm; margin-right: $space-sm; }
.mx3 { margin-left: $space-md; margin-right: $space-md; }
.mx4 { margin-left: $space-lg; margin-right:  $space-lg;  }

.my1 { margin-top:$space-xs; margin-bottom: $space-xs; }
.my2 { margin-top: $space-sm; margin-bottom: $space-sm; }
.my3 { margin-top: $space-md; margin-bottom: $space-md; }
.my4 { margin-top: $space-lg; margin-bottom:  $space-lg;  }

.mx-auto { margin-left: auto; margin-right: auto; }
