/*Eze Suite App colours*/

$ez-orange: #ed7537;
$ez-dark-orange: #d25b1e;
$ez-light-orange: #fef8f5;

$ez-gel-gr: linear-gradient(to right, #de6262, #ffb88c);
//$ez-gel-gr:  linear-gradient(40deg, rgba(0,156,247,1) 13%, rgba(87,160,0,1) 100%);
$ez-gel-bg:rgb(0,156,247);


$ez-blue:#00acff;
$ez-dark-blue:#009cf7;
$ez-light-blue:#def1fe;

$ez-purple: #1A4A90;
$ez-dark-purple: #052A68;
$ez-light-purple: #F3F6F9;

$ez-green: #57a000;
$ez-dark-green: #498403;
$ez-light-green: #f6faf2;

/*Global indicators*/

//$ez-link-blue:#3987cb;
//$ez-link-green:#498403;
//$ez-link-purple:#052A68;
//$ez-link-orange:#d25b1e;
//$ez-link-grey:#A7A7A7;

$ez-status-red:#D8484E;
$ez-status-green:#35B255;



/*Blacks*/

$ez-charcoal:#343434; /*Body texts*/
$ez-mud:#7d7d7d;
$ez-rock:#D0D0D0;
$ez-silver:#e6e6e6; /*Dividers*/ /*previosly e6e6e6*/
$ez-ash:#ececec; /*Header background*/
$ez-fog:#f9f9f9; /*Content background*/


/*Brand*/
$ez-light: #def1fe;
$ez-primary: #00acff;
$ez-dark: #009cf7;





